*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
}
:root{
    font-size: 62.5%;
}
html,body{
    width: 100%;
    height: 100%;
    font-size: 1.6rem;
}
::-webkit-scrollbar{
    background-color: #222534;
}
::-webkit-scrollbar-thumb{
    border: 5px solid #222534;
    background-color: #ff0366;
    border-radius: 1rem;
}
@media screen and (min-width: 1240px){
    .responsive{
        width: 100%;
        justify-content: center;
        align-items: center;
        padding: 0 2rem;
    }
    .responsiveHome{
        background-size: 80rem;
    }
}